* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  width: 100%;
  height: 100%;
}
.host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.host .content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  max-width: 80%;
}
.host .content .title {
  font-size: 9vw;
  margin-bottom: 6vw;
  position: relative;
  color: #00000094;
}
.host .content .title::after {
  content: "AggregateTwilight";
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #ff69b3, #fe0000, #ffa401, #ffff01, #008102, #40e1d2, #410098, #9400d4);
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: circle(10vw at 0% 50%);
  animation: light 7s infinite;
}
@keyframes light {
  0% {
    clip-path: circle(10vw at 0% 50%);
  }
  50% {
    clip-path: circle(10vw at 100% 50%);
  }
  100% {
    clip-path: circle(10vw at 0% 50%);
  }
}
.host .content .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 0.5vw 1.5vw;
  background: rgba(255, 255, 255, 0.425);
  font-size: 4vw;
  border: 1px solid #3a3a3a;
  border-radius: 1.5vw;
  color: #130a1fbd;
}
.host .content .navbar img {
  width: 5vw;
  height: 5vw;
  margin-right: 1vw;
}
.host .Masking {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #3536359d;
  z-index: 1;
  transition: all 0.5s;
  animation: temp 0.5s forwards;
  display: none;
}
@keyframes temp {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #3536359d;
  }
}
@keyframes tempp {
  100% {
    background-color: transparent;
  }
}
.host .enclosure {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 2;
  width: 60%;
  height: 100%;
  background-color: #c8dddb;
  border-radius: 2vw 0 0 2vw;
  display: flex;
  transition: all 0.5s;
  animation: tem 0.5s forwards;
  align-items: center;
  display: none;
}
.host .enclosure .enclosureone {
  width: 90%;
  max-height: 95%;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.host .enclosure .enclosureone::-webkit-scrollbar {
  display: none;
}
.host .enclosure .enclosureone .Options {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.host .enclosure .enclosureone .Options div {
  width: 90%;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 1vw;
  padding: 1vw 2vw;
  background: rgba(255, 255, 255, 0.425);
  font-size: 2vw;
  border-radius: 1.5vw;
  border: 1px solid rgba(105, 104, 104, 0.562);
}
@keyframes tem {
  0% {
    left: 100%;
  }
  100% {
    left: 40%;
  }
}
@keyframes temm {
  0% {
    left: 40%;
  }
  100% {
    left: 100%;
  }
}
